<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head th:replace="fragments/config :: configFragment"></head>
<body>

<input type="hidden" id="articleSeq" name="articleSeq" th:value="${articleSeq}">
<input type="hidden" id="userSeq" name="userSeq" th:value="${userSeq}">
<input type="hidden" id="writerSeq" name="writerSeq" th:value="${writerInfo.writerSeq}">


<h3>책표지(임시 업로드 인성 문제잇음)</h3>

<br><br>

<img src="/static/profile/profiledefault.png">

<br><br>

<div style="float:left;">작가이름 : </div>
<input style="float:left;" type="text" id="categorys" name="categorys" readonly="readonly" th:value="${writerInfo.writerName}">


<button th:if="${followChk} == '0'" style="float:left; margin-right: 10px" name="follows" id="follow">follower</button>

<button th:if="${followChk} == '1'" style="float:left; margin-right: 10px" name="unfollow" id="unfollow">Unfollower</button>

<button th:if="${likesChk} == '0'" style="float:left; margin-right: 10px" name="goodlike" id="goodlike">좋아요</button>

<button th:if="${likesChk} == '1'" style="float:left; margin-right: 10px" name="unlike" id="unlike">좋아요 취소</button>


<br><br>

<div style="float:left;">카테고리 : </div>
<input type="text" id="categorys" name="categorys" readonly="readonly" th:value="${list.categorys}">

<br><br>

<div style="float:left;">제목 : </div>
<input type="text" id="title" name="title" readonly="readonly" th:value="${list.title}">

<br><br>

<div style="float:left;">조회수 : </div>
<input type="text" id="viewCount" name="viewCount" readonly="readonly" th:value="${list.viewCount}">

<br><br>

<div style="float:left;">좋아요 수 : </div>
<input type="text" id="likesInfo" name="likesInfo" readonly="readonly" th:value="${likesInfo}">

<br><br>

<div style="float:left;">작성일 : </div>
<input type="text" id="uploadDate" name="uploadDate" readonly="readonly" th:value="${list.uploadDate}">

<br><br>

<h3>내용(못불러옴 CLOB이라서 아직)</h3>
<textarea id="cont" name="cont" rows="20" cols="50" readonly="readonly" th:value="${list.cont}"></textarea>

<br><br>

<h3>유저 시퀀스 같은지 확인용</h3>

<br><br>

<div th:text="${userSeq}"></div>
<div th:text="${writerInfo.userSeq}"></div>

<br><br>

<div th:if="${userSeq} == ${writerInfo.userSeq}">
	<a th:href="@{'/article/update?articleSeq=' + ${articleSeq}}">
	<button id="updatebtn" style="float:left; margin-right: 10px">수정</button>
	</a>
	<button id="deletebtn">삭제</button>
</div>

<div class="container">
	<nav aria-label="Page navigation">
		<ul class="pagination" id="pagination"></ul>
	</nav>
</div>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.twbsPagination.min.js"></script>
<script type="application/javascript" th:inline="javascript">
  $(function () {
    var csrfToken = /*[[${_csrf.token}]]*/ null;
    var csrfHeader = /*[[${_csrf.headerName}]]*/ null;
    $(document).ajaxSend(function (e, xhr, options) {
      xhr.setRequestHeader(csrfHeader, csrfToken);
    });
  });
</script>

<script type="text/javascript">
$(document).ready(function(){

	let totalCount = 51;	// 글의 총수
	let pageSize = 10;		// 페이지 크기 [1] ~ [10] [1] ~ [5]
	let nowPage = 1;		// 현재 페이지 

	let _totalPages = totalCount / pageSize;
	if(totalCount % pageSize > 0) {
	   _totalPages++;
	}

	$("#pagination").twbsPagination({
		   startPage: 1,
		   totalPages: _totalPages,
		   visiblePages: 10,
		   first:'<span aria-hidden="true"><<</span>',
		   prev:"이전",
		   next:"다음",
		   last:'<span aria-hidden="true">>></span>',
		   onPageClick: function(event, page) {
		      nowPage = page;
		   }
	});	
	
let userSeq = $("#userSeq").val();
let writerSeq = $("#writerSeq").val();


$("#follow").click(function() {
	$.ajax({
		url:"/article/follow",
		type:"post",
		contentType: "application/x-www-form-urlencoded; charset=UTF-8",
		data:{ userSeq:$("#userSeq").val() , follower:$("#writerSeq").val()},
		success:function( msg ){
			if(msg == 'ok'){
				swal({
				    title: "^.^",
				    text: "작가님을 팔로우 하였습니다.",
				    icon: "success"
				}).then(function() {
					history.go(0);
				});
			}
		},
		error:function(){
			alert("error");
		}			
	});
});

$("#unfollow").click(function() {
	$.ajax({
		url:"/article/unfollow",
		type:"post",
		contentType: "application/x-www-form-urlencoded; charset=UTF-8",
		data:{ userSeq:$("#userSeq").val() , follower:$("#writerSeq").val()},
		success:function( msg ){
			if(msg == 'ok'){
				swal({
				    title: "T.T",
				    text: "작가님을 언팔로우 하였습니다.",
				    icon: "warning"
				}).then(function() {
					history.go(0);
				});
			}
		},
		error:function(){
			alert("error");
		}			
	});
});

$("#goodlike").click(function() {
	$.ajax({
		url:"/article/goodlike",
		type:"post",
		contentType: "application/x-www-form-urlencoded; charset=UTF-8",
		data:{ articleSeq:$("#articleSeq").val(), userSeq:$("#userSeq").val()},
		success:function( msg ){
			if(msg == 'ok'){
				swal({
				    title: "^.^",
				    text: "좋아요.",
				    icon: "success"
				}).then(function() {
					history.go(0);
				});
			}
		},
		error:function(){
			alert("error");
		}			
	});
});

$("#unlike").click(function() {
	$.ajax({
		url:"/article/unlike",
		type:"post",
		contentType: "application/x-www-form-urlencoded; charset=UTF-8",
		data:{ articleSeq:$("#articleSeq").val(), userSeq:$("#userSeq").val()},
		success:function( msg ){
			if(msg == 'ok'){
				swal({
				    title: "T.T",
				    text: "좋아요를 취소하였습니다.",
				    icon: "warning"
				}).then(function() {
					history.go(0);
				});
			}
		},
		error:function(){
			alert("error");
		}			
	});
});

$("#deletebtn").click(function() {
		$.ajax({
			url:"/article/delete",
			type:"post",
			contentType: "application/x-www-form-urlencoded; charset=UTF-8",
			data:{ articleSeq:$("#articleSeq").val() , follower:$("#writerSeq").val()},
			success:function( msg ){
				if(msg == 'ok'){
					swal({
					    title: "good!",
					    text: "글 삭제가 완료되었습니다.",
					    type: "success"
					}).then(function() {
					    window.location = "/myPage";
					});
				}
			},
			error:function(){
				alert("error");
			}			
		});
	});
});


</script>


</body>
</html>