<!DOCTYPE html>
<html
  lang="ko"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layout/layout"
>
  <head th:replace="fragments/config :: configFragment"></head>
<div layout:fragment="content">


<br><br>

<form th:action="@{/article/writeAf}" id="form" method="POST" enctype="multipart/form-data">
<input type="hidden" class="apply" id="writerSeq" name="writerSeq" th:value="${param.writerSeq}"> 

<br><br>

<select id="categorys" name="categorys">
	<option>소설</option>
	<option>에세이</option>
	<option>시</option>
</select>

<br><br>

<input type="text" id="title" name="title" placeholder="제목을 작성해주세요.">

<br><br>
<h3>책 표지</h3>
<input type="file" id="bookcover" name="bookcover" accept="" onchange="validateimg(this)">

<br><br>

<h3>소설</h3>
<input type="file" id="novel" name="novel"  accept=".txt">

<br><br>

<input type="submit" id="submitbtn" value="작성하기">

</form>

<br><br>

<button onclick="location.href = '/myPage'">목록으로 돌아가기</button>

<script type="application/javascript" th:inline="javascript">
  $(function () {
    var csrfToken = /*[[${_csrf.token}]]*/ null;
    var csrfHeader = /*[[${_csrf.headerName}]]*/ null;
    $(document).ajaxSend(function (e, xhr, options) {
      xhr.setRequestHeader(csrfHeader, csrfToken);
    });
  });
</script>
<th:block layout:fragment="script">
<script type="text/javascript">
function validateimg(ctrl) { 
    var fileUpload = ctrl;
    var regex = new RegExp("([가-힣a-zA-Z0-9\s_\\.\-:])+(.jpg|.png|.gif)$");
    if (regex.test(fileUpload.value.toLowerCase())) {
        if (typeof (fileUpload.files) != "undefined") {
            var reader = new FileReader();
            reader.readAsDataURL(fileUpload.files[0]);
            reader.onload = function (e) {
                var image = new Image();
                image.src = e.target.result;
                image.onload = function () {
                    var height = this.height;
                    var width = this.width;
                    if (width < 100 || height < 150) {
                    	swal("","책 표지의 사이즈는 100 x 150px보다 작습니다.","error");
                    	$("#bookcover").val("");
                        return false;
                    }else{
                    	swal("good!","이미지가 정상적으로 업로드 되었습니다.","success");
                        $("#profile-image").attr("src", e.target.result);
                        return true;
                    }
                };
            }
        } else {
        	swal("","이 브라우저는 HTML5를 지원하지 않습니다.","error");
        	$("#bookcover").val("");
            return false;
        }
    } else {
    	swal("","올바른 파일(jpg/.png/.gif)을 선택해주세요.","error");
    	$("#bookcover").val("");
        return false;
    }
}


$(document).ready(function(){
	
	$("#submitbtn").click(function (e) { 
		e.preventDefault();
		
		if($("#title").val() == ""){
			$("#title").val("");
			$("#title").focus();
			 swal("","제목을 입력 해주세요.","error");
			 return false;
		} else if($("#bookcover").val() == "") {
			$("#bookcover").val("");
			$("#bookcover").focus();
			 swal("","책 표지를 업로드 해주세요.","error");
			 return false;
		} else if($("#novel").val() == "") {
			$("#novel").val("");
			$("#novel").focus();
			 swal("","소설을 업로드 해주세요.","error");
			 return false;
		} else if($("#cont").val() == "") {
			$("#cont").val("");
			$("#cont").focus();
			 swal("","내용을 작성 해주세요.","error");
			 return false;
		} else {
			swal({
			    title: "good!",
			    text: "글쓰기가 완료되었습니다!",
			    type: "success"
			}).then(function() {
				$("#form").submit();
			});
		}
	});
});
</script>
</th:block>
</div>
</html>