<!DOCTYPE html>
<html
  lang="ko"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layout/layout"
>
  <main class="main main-common" layout:fragment="content">
    <div class="main-banner">
      <div id="bg-wrap"></div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="outer-wrap">
              <div class="banner-wrap">
                <div class="banner">
                  <div class="banner-title">`11111111111111`</div>
                  <div class="banner-desc">`1`1`1`1`1`1`1`1`</div>
                </div>
                <div class="banner">
                  <div class="banner-title">`222222222222222222222`</div>
                  <div class="banner-desc">`2`22`2`2`2`2`2`2</div>
                </div>
                <div class="banner">
                  <div class="banner-title">`3333333333333333333333`</div>
                  <div class="banner-desc">`3`3`33``3`33`3</div>
                </div>
                <div class="banner">
                  <div class="banner-title">`44444444444444444`</div>
                  <div class="banner-desc">`4`44`4`4`4`4`4</div>
                </div>
                <div class="banner">
                  <div class="banner-title">`55555555555555555`</div>
                  <div class="banner-desc">`5`555`5`5`5</div>
                </div>
                <div class="banner">
                  <div class="banner-title">`6666666666666666`</div>
                  <div class="banner-desc">6``66``6`6`6`6`</div>
                </div>
                <div class="banner">
                  <div class="banner-title">`7777777777777777`</div>
                  <div class="banner-desc">`7`777`77``7`77</div>
                </div>
              </div>
              <div class="banner-arrows"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-content">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <!-- today-writer -->
            <div class="main-section today-writer">
              <div class="section-title">오늘의 작가</div>
              <div class="section-body writer-grid clearfix">
                <div class="grid-wrap left clearfix">
                <a th:href="@{/writer/detail?writerSeq={writerSeq}(writerSeq=${todayWriter.writerSeq})}" onfocus="this.blur()">
                  <div class="writer-pic">
                    <img alt="" th:src="@{static/upload/profile/}+${todayWriter.profileFileSystem}" height="150" />
                  </div>
                  </a>
                  <div class="writer-info-wrap">
                    <div class="writer-name" th:text="${todayWriter.writerName}"></div>
                    <div class="writer-birth">작가 정보</div>
                  </div>
                </div>
                <div class="right">
                  <div class="grid-wrap right-up">
                    <div class="writer-desc" th:text="${todayWriter.intro}"></div>
                  </div>
                  <div class="grid-wrap right-down">
                    <div class="writer-recommend">
                      <div class="recommender-id">"추천자 아이디"</div>
                      <div class="recommender-comment">추천자 추천글내용</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- //today-writer -->
            <!-- monthly-recommend -->
            <div class="main-section monthly-recommend">
              <div class="section-title">이번 달 추천 작가</div>
              <div class="section-body">
                <div class="weekly-grid">
                  <th:block th:each="writer, i:${writerList}">
                    <th:block th:if="${i.index < 4}">
                      <div class="grid-wrap">
                       <a th:href="@{/writer/detail?writerSeq={writerSeq}(writerSeq=${writer.writerSeq})}" onfocus="this.blur()">
                        <div class="writer-photo">
                          <div class="filter"></div>
                         <img th:if="${not #strings.isEmpty(writer.profileFileSystem)}" th:src="@{static/upload/profile/}+${writer.profileFileSystem}"alt="" /> 
                         <img th:unless="${not #strings.isEmpty(writer.profileFileSystem)}" th:src="@{static/upload/profile/nonProfile.jpg}" alt="" />                                
                        </div>
                        </a>
                        <a th:href="@{/writer/detail?writerSeq={writerSeq}(writerSeq=${writer.writerSeq})}" onfocus="this.blur()">
                  
                        <div class="writer-desc" th:text="${writer.intro}"></div>
                        <div class="writer-name" th:text="${writer.writerName}"></div>
                        </a>
                      </div>
                    </th:block>
                  </th:block>
                </div>
              </div>
              <div class="section-body">
                <div class="site-desc">
                  <div class="inner">
                    <img src="/static/asset/site-desc-icon.png" alt="" />
                    <div class="title">처음본 이야기</div>
                    <div class="desc">세상에 처음 선보이는 작가분들의 이야기를 만나보세요</div>
                  </div>
                  <div class="box-wrap">
                    <div class="box1"></div>
                    <div class="box2"></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- //monthly-recommend -->
            <!-- recommend-article -->
            <div class="main-section recommend-article">
              <div class="section-title">취향별 추천글</div>
              <ul class="section-tap-wrap clearfix">
                <li class="tab active" data-name="소설">소설</li>
                <li class="tab" data-name="에세이">에세이</li>
                <li class="tab" data-name="시">시</li>
              </ul>
              <div class="section-body">
                <div class="article-wrap clearfix" id="articleWrap">
                  <th:block th:each="articleList, i:${articleList}">
                    <th:block th:if="${i.index < 6}">
                      <div class="articles" >
                      <a th:href="@{/article/detail?articleSeq={articleSeq}(articleSeq=${articleList.articleSeq})}" onfocus="this.blur()">
                        <div class="article-thumb">
                        <img th:if="${not #strings.isEmpty(articleList.fileSystem)}" th:src="@{static/upload/cover/}+${articleList.fileSystem}"alt="" /> 
                         <img th:unless="${not #strings.isEmpty(articleList.fileSystem)}" th:src="@{static/upload/cover/nonCover.jpg}" alt="" />  
                        </div>
                        </a>
                        <a th:href="@{/article/detail?articleSeq={articleSeq}(articleSeq=${articleList.articleSeq})}" onfocus="this.blur()">
                        <div class="article-title" th:text="${articleList.title}"></div>
                        </a>
                      </div>
                    </th:block>
                  </th:block>
                </div>
              </div>
            </div>  
            <!-- //recommend-article -->

            <!-- today-sentence -->
            <div class="main-section today-sentence">
              <div class="section-title">오늘의 문장</div>
              <div class="section-body">
                <div class="random-img">
                  <img src="https://source.unsplash.com/category/experimental/1600x900" alt="" />
                  <div class="random-text">
                    <p class="quote quote-top"></p>
                    <p class="text" th:utext="${todaySentence}"></p>
                    <p class="quote quote-bottom"></p>
                  </div>
                </div>
              </div>
            </div>
            <!-- //today-sentence -->
          </div>
        </div>
      </div>
    </div>
  </main>
  <script type="application/javascript" th:inline="javascript">
    $(function () {
      var csrfToken = /*[[${_csrf.token}]]*/ null;
      var csrfHeader = /*[[${_csrf.headerName}]]*/ null;
      $(document).ajaxSend(function (e, xhr, options) {
        xhr.setRequestHeader(csrfHeader, csrfToken);
      });
    });
  </script>
  <th:block layout:fragment="script">
    <script>
      const colors = new Array(
        (color01 = new Array([213, 223, 233], [217, 207, 228])),
        (color02 = new Array([217, 207, 228], [233, 213, 228])),
        (color03 = new Array([233, 213, 228], [221, 228, 207])),
        (color04 = new Array([221, 228, 207], [235, 219, 209])),
        (color05 = new Array([235, 219, 209], [222, 202, 210])),
        (color06 = new Array([222, 202, 210], [221, 216, 231])),
        (color07 = new Array([221, 216, 231], [237, 233, 194]))
      );
      // banner slick bg
      function bannerBg() {
        $(".banner-wrap").on("init", function (event, slick, currentSlide, nextSlide) {
          slick.$slides.each(function (e) {
            // bg div create
            var div = document.createElement("div");
            div.classList.add("gradient" + e);
            var bgWrap = document.getElementById("bg-wrap");
            div.style.background = "linear-gradient(90deg, rgb(" + colors[e][0] + ") 0%, rgb(" + colors[e][1] + ") 100%)";
            bgWrap.appendChild(div);
          });
          // bg slide init
          $("#bg-wrap").slick({
            arrows: false,
            dots: false,
            touchMove: false,
            draggable: false,
          });
        });
      }
      
      
      // article category
      function articleWrap(tab) {
        let category = $(tab).data("name");
        $.ajax({
          url: "/main/articleWrap",
          type: "get",
          data: { category: category },
          success: function (data) {
            let article = "";
            $.each(data, function (index, item) {
              if (index < 6 ) {
            	  item.articleSeq += "";
                article +=
                  "<div class='articles'>" +
                  "<a href='/article/detail?articleSeq="+ item.articleSeq +"'>"+
                  "<div class='article-thumb'>" +            
                  "<img src='/static/upload/cover/"+ item.fileSystem +"' alt='' />" +         
                  "</div>" +
                  "</a>" +
                  "<a href='/article/detail?articleSeq="+ item.articleSeq +"'>"+
                  "<div class='article-title'>" +
                  item.title +
                  "</div>" +
                  "</a>"+
                  "</div>";
                }
            });
            let articleWrap = $("#articleWrap").html(article);
            $(".section-tap-wrap .tab").removeClass("active");
            $(tab).addClass("active");
          },
          error: function () {
            alert("error");
          },
        });
      }
      function articleDetail(seq){
    	  location.href = "article/detail?articleSeq="+ seq;
      };

      $(document).ready(function () {
        // article wrap function add to each tab
        $(".main .main-section.recommend-article .section-tap-wrap .tab").on("click", function () {
          articleWrap($(this));
        });
        // main banner
        bannerBg();
        $(".banner-wrap").slick({
          touchMove: false,
          draggable: false,
          dots: false,
          appendArrows: $(".banner-arrows"),
          prevArrow: '<div class="arrow prev-arrow"><span class="iconify" data-icon="bi:chevron-left" data-inline="false"></span></div>',
          nextArrow: '<div class="arrow next-arrow"><span class="iconify" data-icon="bi:chevron-right" data-inline="false"></span></div>',
        });
        $(".main .main-banner .banner-arrows .next-arrow").on("click", function () {
          $("#bg-wrap").slick("slickNext");
        });
        $(".main .main-banner .banner-arrows .prev-arrow").on("click", function () {
          $("#bg-wrap").slick("slickPrev");
        });

        // weekly recommend
        // grid photo size
        $(".main .main-section.monthly-recommend .weekly-grid").on("init", function (event, slick) {
          $(".main .main-section.monthly-recommend .weekly-grid .writer-photo").css("height", slick.$slides[0].clientWidth + "px");
          slick.$slides.each(function (e) {
            $(this).find(".filter")[0].style.backgroundColor = "rgba(" + colors[e][0] + ", 0.3)";
          });
        });
        // grid slick
        $(".main .main-section.monthly-recommend .weekly-grid").slick({
          infinite: false,
          arrows: false,
          dots: false,
          slidesToShow: 4,
          responsive: [
            {
              breakpoint: 1024,
              settings: {
                slidesToShow: 3,
              },
            },
            {
              breakpoint: 769,
              settings: {
                slidesToShow: 2,
              },
            },
            {
              breakpoint: 600,
              settings: {
                slidesToShow: 1,
              },
            },
          ],
        });
      });
    </script>
  </th:block>
</html>
