<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head th:replace="fragments/config :: configFragment"></head>
  <body>
  
  <br>
  
  <div>
  	변경할 닉네임을 적어주세요.
  </div>
  
  <br>
  <div>
  <input type="text" id="nickname" name="nickname" placeholder="닉네임" />
  <button id="nicknamechk">중복확인</button>
  </div>
  <br>
  
   <div id="nickselect"></div>
   
  <div id="nickUpdateButtonView">
 	
  </div>
  <br>
  
    <div>
      <p>가입하실 때 입력하신 이메일을 입력해주세요</p>
      <br />
      <input type="email" name="username" placeholder="이메일" id="email" />
      <button type="button" id="emailPost">비밀번호 재설정</button>
    </div>
    <br />
    <div id="checkView">
      <input type="email" id="num" name="num" placeholder="인증번호" />&nbsp;<button type="button" id="numCheck">인증번호 확인</button>
      <p id="remain" style="color: blue; font-size: 5px"></p>
    </div>
    
    <br>
    
	<input type="checkbox"> 개인 정보 수집 및 동의
	<br><br>
	<p>ㆍ개인정보 수집목적</p>	
	<br>
	<p>ㆍ개인정보 수집기간</p>	
	<br>
	<p>ㆍ개인정보 이용기간</p>	
	
	<br><br>
	
	<button>회원 정보 변경</button>
	
	<br>
	<br>
	
	<button>회원 탈퇴</button>
	
	
    <script type="application/javascript" th:inline="javascript">
      $(function () {
        var csrfToken = /*[[${_csrf.token}]]*/ null;
        var csrfHeader = /*[[${_csrf.headerName}]]*/ null;
        $(document).ajaxSend(function (e, xhr, options) {
          xhr.setRequestHeader(csrfHeader, csrfToken);
        });
      });
    </script>

    <script type="text/javascript">
      let email = "";
      let check = true;

      $(document).ready(function () {
        $("#checkView").hide();
        $("#nickUpdateButtonView").hide();
      });

      // 인증번호 발송
      $("#emailPost").click(function () {
        email = $("#email").val();

        let exptext = /^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/;

        if (exptext.test(email) == false || email == "") {
          swal("", "이메일 형식이 올바르지 않습니다.", "error");

          $("#email").focus();
        } else {
          $.ajax({
            type: "GET",
            url: "/resetPwd",
            data: { email: email },

            success: function (str) {
              if (str == "NO") {
                swal("", "등록되지 않은 사용자입니다", "error");
              } else {
                swal("인증번호", "인증번호가 성공적으로 발송되었습니다", "success");
                $("#checkView").show();
                countdown();
                var date = new Date();
                date.setTime(date.getTime() + 5 * 60 * 1000);
                $.cookie(email, str, { expires: date, path: "/" });
              }
            },
            error: function () {
              swal("", "오류: 관리자에게 문의하세요", "error");
            },
          });
        }
      });

      // 인증번호 확인
      $("#numCheck").click(function () {
        let num = $("#num").val();
        let r_num = $.cookie(email);

        if (num != r_num) {
          swal("", "인증번호가 다릅니다", "error");
        } else {
          $.ajax({
            type: "POST",
            url: "/user/resetPassword/result",
            data: { pwd: num, email: email },
            success: function () {
              swal("임시비밀번호로 변경되었습니다").then(function () {
                window.close();
                $("#checkView").hide();
              });
            },
            error: function () {
              alert("error");
            },
          });
        }
      });

      // 인증번호 인증시간
      function countdown() {
        if (countdown.expiredTime == null) {
          countdown.expiredTime = new Date().getTime() + 1000 * 60 * 5; //5분
        }
        countdown.remainSeconds = parseInt((countdown.expiredTime - new Date().getTime()) / 1000);
        if (countdown.remainSeconds < 0) {
          $("#remain").css("color", "red");
          $("#remain").text("인증시간 초과");
        } else {
          $("#remain").text("남은시간 " + parseInt(countdown.remainSeconds / 60) + ":" + new String(countdown.remainSeconds % 60).padStart(2, "0"));
          setTimeout(countdown, 1000);
        }
      }
$("#nicknamechk").click(function(){
	if($("#nickname").val().trim() == ""){
		$("#nickname").val("");
		$("#nickname").focus();
		 swal("","닉네임을 작성해주세요.","error");
	}
	else{
		$.ajax({
			url:"/mypage/getNickName",
			type:"POST",
			data:{ nickname:$("#nickname").val()},
			success:function( msg ){
				if(msg == 'find'){
					swal("","사용할 수 없는 ID입니다.","error");
					$("#nickselect").html("이 ID는 사용할 수 없습니다");
					$("#nickselect").css("color", "#ff0000");
					$("#nickname").val();
					$("#nickUpdateButtonView").hide();
				}
				else{
					swal("","사용할 수 있는 ID입니다.","success");
					$("#nickselect").html("이 ID는 사용할 수 있습니다");
					$("#nickselect").css("color", "#0000ff");
					$("#nickUpdateButtonView").show();
				}
			},
			error:function(){
				alert("error");
			}			
		});
	}	
});



    </script>
  </body>
</html>
