<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<section data-v-afc4c650="" class="home-content overflow"><div data-v-5cd22147="" data-v-afc4c650="" class="home-inner"><h3 data-v-5cd22147="" class="section-title" style=""><a data-v-5cd22147="" href="/v3/today/more/entryScreen" class="gtm-sntns-2depth">오늘의 첫 문장</a></h3> <div data-v-5cd22147="" class="today-home-cover overflow" style="background-image: url(&quot;https://d2j6uvfek9vas1.cloudfront.net/entry_screen/5efc40af5534b.jpg&quot;);"><a data-v-5cd22147="" href="https://www.millie.co.kr/v3/bookDetail/179466959?nav_hidden=y" class="gtm-sntns"><div data-v-5cd22147="" class="inner"><p data-v-5cd22147="" class="title"><pre data-v-5cd22147="">오늘, 마음이
따뜻한 하루가 되길.</pre></p> <div data-v-5cd22147="" class="box"><p data-v-5cd22147=""><pre data-v-5cd22147="">
</pre></p></div> <span data-v-5cd22147="" class="book-name"><pre data-v-5cd22147="">고요, &lt;나는 내가 왜 살아야 하는지 몰랐습니다&gt;</pre></span></div></a></div></div></section>
</body>
</html>