<!DOCTYPE html>
<html
  lang="ko"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layout/layout"
>
  <main class="myPageSub notice main-common" layout:fragment="content">
    <div class="inner-top">공지사항</div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="inner-wrap">
            <a class="goList" th:href="@{'notice/write'}" sec:authorize="hasRole('ROLE_ADMIN')">글작성</a>
            <div th:if="${notice} == null">공지사항 글이 없습니다.</div>
            <!-- listWrap -->
            <div class="listWrap">
              <div class="list clearfix" th:each="list : ${notice}" th:if="${list.del == 0}">
                <a th:href="@{'notice/detail?i='}+${list.noticeSeq}">
                  <div class="title" th:text="${list.title}"></div>
                  <div class="infos">
                    <span class="viewCount">
                      <span class="iconify" data-icon="ant-design:calendar-twotone" data-inline="false"></span>
                      <span th:text="${list.viewCount}"></span>
                    </span>
                    <span class="date">
                      <span class="iconify" data-icon="carbon:view" data-inline="false"></span>
                      <span th:text="${list.uploadDate}"></span>
                    </span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <th:block layout:fragment="script"> </th:block>
</html>
