<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head th:replace="fragments/config :: configFragment"></head>
  <style>
  input{
  border: #a6b3ba 1px solid;
  width: 400px; 
  height: 30px;
  
  }
  button{
  height: 40px; 
  width: 100px;
  background:yellow;
  border-radius:10px; 
  }
  p{
  margin-right: 400px; 
  color: #a6b3ba;
  }
  #pwdtag{
  margin-right: 300px; 
  color: #a6b3ba;
  }
  
   #pwdtagCheck{
  margin-right: 270px; 
  color: #a6b3ba;
  }
  
  </style>
  <body>
    <div align="center" style="margin-top: 20px">
          <h2 >비밀번호 찾기</h2>
      <br><hr style="border-bottom-color: #c9d0d4">
      <br /><br><br>
    <div id="check">
      <p>가입한 이메일</p><br>
      <input type="email" name="username" placeholder="이메일" id="email"/>
      &nbsp;<button type="button" id="emailPost">인증번호 전송</button>
      
       <br />
    <div id="checkView">
    <br><br>
   
     <p>인증번호</p><br>
      <input type="password" id="num" name="num" placeholder="인증번호" />&nbsp;<button type="button" id="numCheck">인증번호 확인</button>
      <p id="remain" style="color: blue; font-size: 5px"></p>
    </div>
      </div>
      

      <div id="pwdView">
      <br><br>
      <p id="pwdtag">새로운 비밀번호</p><br>
      <input type="password" id="pwd" name="num" placeholder="비밀번호" /><br><div id="ptext" style="color: #ffa931; font-size: 7px"></div><br><br><br><br>
       <p id="pwdtagCheck">새로운 비밀번호 확인</p><br>
      <input type="password" id="pwdCheck" name="numCheck" placeholder="비밀번호 확인" /><br> <div id="ptext2" style="color: #ffa931; font-size: 7px"></div>&nbsp; <br><br><br><br>
      
      <button type="button" id="setPwd">비밀번호 재설정</button>
      
      </div>
    </div>
   

    <script type="application/javascript" th:inline="javascript">
      $(function () {
        var csrfToken = /*[[${_csrf.token}]]*/ null;
        var csrfHeader = /*[[${_csrf.headerName}]]*/ null;
        $(document).ajaxSend(function (e, xhr, options) {
          xhr.setRequestHeader(csrfHeader, csrfToken);
        });
      });
    </script>

    <script type="text/javascript">
      let email = "";
      let check = true;

      $(document).ready(function () {
      $("#checkView").hide();
      $("#pwdView").hide();
      });

      // 인증번호 발송
      $("#emailPost").click(function () {
        email = $("#email").val();
        let sessionData = "";
        let exptext = /^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/;

        if (exptext.test(email) == false || email == "") {
          swal("", "이메일 형식이 올바르지 않습니다.", "error");

          $("#email").focus();
        } else {
          $.ajax({
            type: "GET",
            url: "/resetPwd",
            data: { email: email },

            success: function (str) {
              if (str == "NO") {
                swal("", "등록되지 않은 사용자입니다", "error");
              } else {
                swal("인증번호", "인증번호가 성공적으로 발송되었습니다", "success");
                $("#checkView").show();
             //   countdown();
                var date = new Date();
                date.setTime(date.getTime() + 5 * 60 * 1000);
               // $.cookie(email, str, { expires: date, path: "/" });
                sessionData = str;
                sessionStorage.setItem("Pa_hou",sessionData);
              }
            },
            error: function () {
              swal("", "오류: 관리자에게 문의하세요", "error");
            },
          });
        }
      });

      // 인증번호 확인
      $("#numCheck").click(function () {
        let num = $("#num").val();
        let r_num = sessionStorage.getItem("Pa_hou");

        if (num != r_num) {
          swal("", "인증번호가 다릅니다", "error");
        } else {
              swal("인증번호 확인되었습니다").then(function () { 
            	  sessionStorage.removeItem("Pa_hou"); 
            	 $("#email").attr("readonly", "readonly");
                $("#check").hide();
                $("#pwdView").show();
              });       
        }
      });
      
      $("#setPwd").click(function(){
    	    val = document.getElementById("pwd").value;

    	   val_Check = document.getElementById("pwdCheck").value;
           let num = val.search(/[0-9]/g);
           let eng = val.search(/[a-z]/gi);
           let spe = val.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/gi);

           if (val.length < 8 || val.length > 20) {
             msg = "비밀번호는 8자리이상 20자리 이내로 입력해주세요"; swal("",msg,"error");          
           } else if (val.search(/\s/) != -1) {
             msg = "비밀번호는 공백 없이 입력해주세요."; swal("",msg,"error");
           } else if (num < 0 || eng < 0 || spe < 0) {
             msg = "비밀번호에 영문,숫자, 특수문자를 혼합하여 입력해주세요."; swal("",msg,"error");
           } else if (val != val_Check) {
               msg = "비밀번호가 다릅니다. 다시 한번 확인해주세요"; swal("",msg,"error");
           }
           else{
        	   $.ajax({
        		  url:"/user/resetPassword/result",
        		  type:"post",
        		  data: {"pwd":val},
        		  success:function(){
        			  swal("비밀번호 수정이 완료되었습니다").then(function(){
        				  location.href = "/user/login";
        			  });
        		  },
        		  error:function(){
        			  alert("error");
        		  }
        		  
        	   });
           }
      });
      

      // 인증번호 인증시간
      function countdown() {
        if (countdown.expiredTime == null) {
          countdown.expiredTime = new Date().getTime() + 1000 * 60 * 5; //5분
        }
        countdown.remainSeconds = parseInt((countdown.expiredTime - new Date().getTime()) / 1000);
        if (countdown.remainSeconds < 0) {
          $("#remain").css("color", "red");
          $("#remain").text("인증시간 초과");
        } else {
          $("#remain").text("남은시간 " + parseInt(countdown.remainSeconds / 60) + ":" + new String(countdown.remainSeconds % 60).padStart(2, "0"));
          setTimeout(countdown, 1000);
        }
      }
      

      // 실시간 비밀번호 유효성 체크
      document.getElementById("pwd").onkeyup = function () {
        var msg = "",
          val = this.value;

        val_Check = document.getElementById("pwdCheck").value;
        let num = val.search(/[0-9]/g);
        let eng = val.search(/[a-z]/gi);
        let spe = val.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/gi);

        if (val.length < 8 || val.length > 20) {
          msg = "비밀번호는 8자리이상 20자리 이내로 입력해주세요";
        } else if (val.search(/\s/) != -1) {
          msg = "비밀번호는 공백 없이 입력해주세요.";
        } else if (num < 0 || eng < 0 || spe < 0) {
          msg = "비밀번호에 영문,숫자, 특수문자를 혼합하여 입력해주세요.";
        }

        document.getElementById("ptext").textContent = msg;
      };
      document.getElementById("pwdCheck").onkeyup = function () {
        var msg = "",
          val = this.value;
        val_Check = document.getElementById("pwd").value;
        if (val != val_Check) {
          msg = "비밀번호가 다릅니다. 다시 한번 확인해주세요";
        }

        document.getElementById("ptext2").textContent = msg;
      };

      //새로고침 시 경고창
      document.onkeydown = capturekey;
      document.onkeypress = capturekey;
      document.onkeyup = capturekey;

      function capturekey(e) {
        e = e;
        //debugger
        if (e.code == "F5") {
          if (confirm("찾고 있는 페이지에서 사용자가 입력한 정보를 사용했습니다. 해당 페이지로 돌아가면 기존 작업을 반복할 수 있습니다. 계속하시겠습니까?")) {
            window.reload();
          } else {
            //avoid from refresh
            e.preventDefault();
            e.stopPropagation();
          }
        }
      }

    </script>
  </body>
</html>
