<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<input type="hidden" name="userSeq" id="userSeq" th:value="${userSeq}">
<input type="hidden" name="qnaSeq" id="qnaSeq" th:value="${qnaDetail}">


<th:form id="qnaDetail" name="qnaDetailn" method="post">
        <table>
            <tr>
            <col width="100"> <col width="200">
         </tr>
            <div>
                <tr>
                    <th>작성자</th>
                    <td>
                        <input type="text"   th:value="${qnaDetail.userSeq}">
                    </td>
                </tr>
            <tr>
                <th>제목</th>
                <td>
                    <input type="text" th:value="${qnaDetail.title}">
                </td>
            </tr>
            <tr>
                <th>내용</th>
                <td>
                <textarea th:text="${qnaDetail.conts}"></textarea>
            </td>
            </tr>
                <tr>
                    <th>작성일</th>
                    <td>
                        <input type="text" th:value="${qnaDetail.qdate}">
                    </td>
                </tr>
            </div>

        </table>
</th:form>
<!--<a href="" id="updateBtn" >수정</a>-->
<div th:if="${qnaDetail.userSeq} == ${userSeq}">
    <a th:href="@{'/qna/update?qnaSeq='+ ${qnaDetail.qnaSeq}}">
        <button id="updateBtn">수정</button>
    </a>
</div>

<hr/>
<h3 align="center" id="answer">답글달기를 누르세요 </h3>

<th:form id="qnaReply" name="qnaReply" method="post" th:action="@{/qna/replyAf}">
   <table>

        <tr>
            <th>작성자</th>
            <td th:text="${userSeq}"></td>
        </tr>

        <tr>
            <th>답변 제목</th>
            <td>
                <input type="text" >
            </td>
        </tr>

        <tr>
            <th>답변 내용</th>
            <td><textarea id="answerConts" name="answerConts" placeholder="답변을 입력하세요"></textarea></td>
        </tr>
    <tr>
        <td>
            <a th:href="@{'/qna/replyAf?qnaSeq='+ ${qnaDetail.qnaSeq}}">
        <button type="button" id="answerBtn">답글달기</button>
            </a>
        </td>
    </tr>
   </table>

</th:form>





</body>
<script type="application/javascript" th:inline="javascript">
    $(function () {
        var csrfToken = /*[[${_csrf.token}]]*/ null;
        var csrfHeader = /*[[${_csrf.headerName}]]*/ null;
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(csrfHeader, csrfToken);
        });
    });
</script>

<script type="text/javascript">
//답변 입력 버튼
$('#qnaReply').hide();
$(document).ready(function () {
        $("#answer").click(function (){
            $('#qnaReply').toggle();
        });
});



$(document).ready(function (){

    $("#answerBtn").click(function (){
        if($('#answerConts').val().trim() == ""){

            alert("답변을 입력해주세요");
            $('#answerConts').focus();
        }
        else{
            $('#qnaReply').submit();
        }
    });
});

</script>
</html>