<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 align="center"> QNA 글작성</h2>
<form name="qnaForm" id="qnaForm" method="post"  th:action="@{'/qna/writeAf'}">

    <table class="list_table" style="width:85%;">
        <colgroup>
<!--            <col style="width:200px;" />-->
            <col style="width:200px;"  />
            <col style="width:auto;" />
        </colgroup>

        <tbody>
<!--       <tr>-->
<!--            <th>작성자</th>-->
<!--            <td style="text-align: left">-->
<!--                <input type="hidden" th:value="${user}"  name="title" size="60"/>-->
<!--            </td>-->
<!--        </tr>-->

        <tr>
            <th>제목</th>
            <td style="text-align: left">
                <input type="text" name="title" size="60" placeholder="제목을 입력하세요"/>
            </td>
        </tr>
        <tr>
            <th>내용</th>
            <td style="text-align: left">
                <textarea  rows="10" cols="50" name="conts" id="conts" placeholder="내용을 입력하세요"></textarea>
            </td>

        </tr>
        <tr>
            <td colspan="2" style="height:50px; text-align:center;">
               <button type="button" id="writeBtn">글작성</button>



            </td>
        </tr>
        <tr>
            <td> <input type="file"> </td>
        </tr>
        </tbody>

    </table>

</form>


</body>
<script type="text/javascript">
    $(document).ready(function (){
        $("#writeBtn").click(function (){

            if($("#conts").val().trim() ==""){

                alert("글 작성을 해주세요");
                $("#conts").focus();
            }
            else{

                $("#qnaForm").submit();
            }
        })
    })
</script>
</html>