<!DOCTYPE html>
<html
  lang="ko"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layout/layout"
>
  <main class="search-page main-common" layout:fragment="content">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="search-wrap">
            <form id="searchForm">
              <div class="select-wrap">
                <select name="searchCategory">
                  <option value="writer">작가</option>
                  <option value="title">글 제목</option>
                </select>
                <div class="arrow">
                  <span class="iconify" data-icon="bi:chevron-down" data-inline="false"></span>
                </div>
              </div>
              <div class="input-wrap">
                <input type="text" name="searchWord" placeholder="검색어를 입력하세요." />
                <button id="searchButton">
                  <span class="iconify" data-icon="bytesize:search" data-inline="false"></span>
                </button>
              </div>
            </form>
          </div>
          <div class="result-wrap">
            <div class="base-result">
              <!-- base-result는 검색을 하지 않았을 경우 기본적으로 팔로워 or 구독수가 많은 기준으로 소팅 -->
              <div class="best-writer">
                <div class="writer-title">종이의 집 베스트 작가</div>
                <div class="writer-grid clearfix">
                  <div class="writer">
                    <div class="writer-photo">
                      <img src="/static/asset/mush.jpg" alt="" />
                    </div>
                    <div class="writer-desc">알려좀주쇼 내가 어디로</div>
                    <div class="writer-name">머쉬베놈~</div>
                  </div>
                  <div class="writer">
                    <div class="writer-photo">
                      <img src="/static/asset/mush.jpg" alt="" />
                    </div>
                    <div class="writer-desc">알려좀주쇼 내가 어디로</div>
                    <div class="writer-name">머쉬베놈~</div>
                  </div>
                  <div class="writer">
                    <div class="writer-photo">
                      <img src="/static/asset/mush.jpg" alt="" />
                    </div>
                    <div class="writer-desc">알려좀주쇼 내가 어디로</div>
                    <div class="writer-name">머쉬베놈~</div>
                  </div>
                  <div class="writer">
                    <div class="writer-photo">
                      <img src="/static/asset/mush.jpg" alt="" />
                    </div>
                    <div class="writer-desc">알려좀주쇼 내가 어디로</div>
                    <div class="writer-name">머쉬베놈~</div>
                  </div>
                  <div class="writer">
                    <div class="writer-photo">
                      <img src="/static/asset/mush.jpg" alt="" />
                    </div>
                    <div class="writer-desc">알려좀주쇼 내가 어디로</div>
                    <div class="writer-name">머쉬베놈~</div>
                  </div>
                </div>
                <div class="more-btn writer-more">
                  <span>더 보기</span>
                </div>
              </div>

              <div class="best-article">
                <div class="article-title">종이의 집 베스트 글</div>
                <div class="article-grid clearfix">
                  <div class="article">
                    <div class="article-photo">
                      <img src="/static/asset/a.jpg" alt="" />
                    </div>
                    <div class="article-name">주식개미</div>
                    <div class="article-desc">베르나르 베르베르</div>
                  </div>
                  <div class="article">
                    <div class="article-photo">
                      <img src="/static/asset/a.jpg" alt="" />
                    </div>
                    <div class="article-name">주식개미</div>
                    <div class="article-desc">베르나르 베르베르</div>
                  </div>
                  <div class="article">
                    <div class="article-photo">
                      <img src="/static/asset/a.jpg" alt="" />
                    </div>
                    <div class="article-name">주식개미</div>
                    <div class="article-desc">베르나르 베르베르</div>
                  </div>
                  <div class="article">
                    <div class="article-photo">
                      <img src="/static/asset/a.jpg" alt="" />
                    </div>
                    <div class="article-name">주식개미</div>
                    <div class="article-desc">베르나르 베르베르</div>
                  </div>
                  <div class="article">
                    <div class="article-photo">
                      <img src="/static/asset/a.jpg" alt="" />
                    </div>
                    <div class="article-name">주식개미</div>
                    <div class="article-desc">베르나르 베르베르</div>
                  </div>
                  <div class="article">
                    <div class="article-photo">
                      <img src="/static/asset/a.jpg" alt="" />
                    </div>
                    <div class="article-name">주식개미</div>
                    <div class="article-desc">베르나르 베르베르</div>
                  </div>
                  <div class="article">
                    <div class="article-photo">
                      <img src="/static/asset/a.jpg" alt="" />
                    </div>
                    <div class="article-name">주식개미</div>
                    <div class="article-desc">베르나르 베르베르</div>
                  </div>
                </div>
                <div class="more-btn article-more">
                  <span>더 보기</span>
                </div>
              </div>
            </div>
            <!-- search-result는 검색을 한 경우 base-result가 사라지면서 나타나게 된다 -->
            <!-- <div class="search-result">
                <div class="result-grid">
                  <div class="result">
                    <button type="button" id="nameSort">작가 이름 순서</button>
                    <div id="getWriteSize"></div>
                    <div id="getSearchWlist"></div>
                    <button type="button" id="viewSort">조회수 순서</button>
                    <div id="getContSize"></div>
                    <div id="getSearcClist"></div>
                  </div>
                </div>
              </div> -->
          </div>
        </div>
      </div>
    </div>
  </main>
  <th:block layout:fragment="script">
    <script type="text/javascript">
      $(document).ready(function () {
        $("#searchButton").click(function () {
          let formData = $("#searchForm").serialize();

          searchWriter(formData);
          searchCont(formData);
        });
      });

      $("#nameSort").click(function () {});

      $("#viewSort").click(function () {});

      function searchWriter(formData) {
        $.ajax({
          url: "/getSearchWlist",
          type: "get",
          data: formData,
          success: function (data) {
            //	alert(data);
            let addlist = "";
            let size = Object.keys(data).length;
            $.each(data, function (i, ser) {
              addlist +=
                "<div style='float:left'><table border='1'><tr><th>" +
                ser.writerName +
                "</th></tr>" +
                "<input type='hidden'id='" +
                ser.writerSeq +
                "' value='" +
                ser.writerSeq +
                "'>" +
                "<tr><td>" +
                ser.intro +
                "</td></tr>" +
                "<tr><td>" +
                ser.fileSystem +
                "</td></tr>" +
                "</table></div>";
            });
            $("#getWriteSize").empty();
            $("#getSearchWlist").empty();
            $("#getWriteSize").append("총" + size + "건의 검색 결과");
            $("#getSearchWlist").append(addlist);
          },
          error: function () {
            alert("error");
          },
        });
      }

      function searchCont(formData) {
        $.ajax({
          url: "/getSearchClist",
          type: "get",
          data: formData,
          success: function (data) {
            let addlist = "";
            let size = Object.keys(data).length;
            $.each(data, function (i, ser) {
              addlist +=
                "<div style='float:left'><table border='1'><tr><th>" +
                ser.title +
                "</th></tr>" +
                "<input type='hidden'id='" +
                ser.articleSeq +
                "' value='" +
                ser.articleSeq +
                "'>" +
                "<tr><td>" +
                ser.viewCount +
                "</td></tr>" +
                "<tr><td>" +
                ser.fileSystem +
                "</td></tr>" +
                "</table></div>";
            });
            $("#getContSize").empty();
            $("#getSearcClist").empty();
            $("#getContSize").append("총" + size + "건의 검색 결과");
            $("#getSearcClist").append(addlist);
          },
          error: function () {
            alert("error");
          },
        });
      }
    </script>
  </th:block>
</html>
