<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<div align="center">
<h1>Search Test</h1>

<div>
	<form id="searchForm">
		<div id="scFrm">
			<select name="searchCategory">
				<option value="writer">작가</option>
				<option value="title">글 제목</option>
			</select>
			<input type="text" name="searchWord">
			<input type="button" value="검색" id="searchButton">
			<input type="hidden" name="nowPage" value="0">
		</div>
	</form>
</div>
<div id="getsearchWDiv">
<div id="getWriteSize"></div>
<div style="width: 70%; height:300px; border: 1px solid;" id="getSearchWlist" >
	
</div>
</div>
<button type="button" id="poemSort" onclick='cateSort("poem")'>시</button>
<button type="button" id="novelSort" onclick='cateSort("novel")'>소설</button>
<button type="button" id="essaySort" onclick='cateSort("essay")'>에세이</button>
<button type="button" id="viewSort">조회수 순서</button>
<button type="button" id="dateSort">업데이트 순</button>
<div id="getContSize"></div>
<div style="width: 70%;" id="getSearcClist" >
	
</div>

</div>
<script type="text/javascript">
let s1 = 1;
let s2 = 1;
let s3 = 1;
let ct = "";
$(document).ready(function(){
	$("#searchButton").click(function(){

		let formData = $("#searchForm").serialize();
		//alert($("select[name=searchCategory]").val());
		if($("select[name=searchCategory]").val()=='writer'){
			$("#getsearchWDiv").show();
			searchWriter(formData);
			searchCont(formData,ct);
		}
		else{
			$("#getsearchWDiv").hide();
			searchCont(formData,ct);
		}
		
	});
	
	$("#viewSort").click(function(){
		if(s2 == 1){
			sortingC("VIEWCOUNT","ASC",ct);
			s2 = 0;
		}else{
			sortingC("VIEWCOUNT","DESC",ct);
			s2 = 1;
		}
	});
	$("#dateSort").click(function(){
		if(s3 == 1){
			sortingC("UPLOAD_DATE","DESC",ct);
			s3 = 0;
		}else{
			sortingC("UPLOAD_DATE","ASC",ct);
			s3 = 1;
		}
	});
/* 	$("#poemSort").click(function(){
		$("#getSearcClist").empty();
		let ct = "cateSort";
		sortingC("VIEWCOUNT","DESC",ct)
	}); */
});

function cateSort(ct){
	$("#getSearcClist").empty();
	sortingC("VIEWCOUNT","DESC",ct)
}


function sortingW(s){
	$("#scFrm").append("<input type='hidden' name='searchSort' value='WRITER_NAME'><input type='hidden' name='sort' value='"+s+"'>");
	let formData = $("#searchForm").serialize();
	searchWriter(formData);
	$("input[type=hidden]").remove();
}

function sortingC(st,s,ct){
	$("#scFrm").append("<input type='hidden' name='searchSort' value='"+st+"'><input type='hidden' name='sort' value='"+s+"'>");
	let formData = $("#searchForm").serialize();
	searchCont(formData,ct);
	$("input[type=hidden]").remove();
}


function searchWriter(formData){
	$.ajax({
		url:"/getSearchWlist",
		type:"get",	
		data: formData,
		success: function(data){
		let addlist = "";
		let size = Object.keys(data).length;
			$.each(data, function(i,ser){
				addlist += "<div style='float:left'><table border='1'><tr><th>작가이름:"+ser.writerName+"</th></tr>"
						+"<input type='hidden'id='"+ser.writerSeq+"' value='"+ser.writerSeq+"'>"
						+"<tr><td>"+ser.intro+"</td></tr>"
						+"<tr><td>"+ser.fileSystem+"</td></tr>"
						+"</table></div>";
				
			});
		
		$("#getWriteSize").empty();
		$("#getSearchWlist").empty();
		$("#getWriteSize").append("총"+size+"건의 검색 결과");
		$("#getSearchWlist").append(addlist);
		},
		error:function(){
			alert('error');
		}
	});
}

function searchCont(formData, ct){
	$.ajax({
		url:"/getSearchClist",
		type:"get",
		dataType: "json",
		data: formData,
		success:function(data){
			let addlist = "";
			let list;
	 		let size;
	 		if(ct =='poem'){
	 			list = data.poem;
	 			size = Object.keys(list).length;
	 		}else if(ct == 'novel'){
	 			list = data.novel;
	 			size = Object.keys(list).length;
	 		}else if(ct == 'essay'){
	 			list = data.essay;
	 			size = Object.keys(list).length;
	 		}else{
	 			list = data.list;
	 			size = Object.keys(list).length;
	 		}
	 		
	 			$.each(list, function(i,ser){
					addlist += "<div style='float:left'><table border='1'><tr><th>제목:"+ser.title+"</th></tr>"
							+"<input type='hidden'id='"+ser.articleSeq+"' value='"+ser.articleSeq+"'>"
							+"<tr><td>조회수:"+ser.viewCount+"</td></tr>"
							+"<tr><td>"+ser.fileSystem+"</td></tr>"
							+"</table></div>";
					
				});
			$("#getContSize").empty();
			$("#getSearcClist").empty();	
			$("#getContSize").append("총"+size+"건의 검색 결과");
			$("#getSearcClist").append(addlist); 
	 			
		},
		error:function(){
			alert('error');
		}
	});
	
}

</script>


</body>
</html>