<!DOCTYPE html>
<html
  lang="ko"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layout/layout"
>
  <main class="myPageSub main-common" layout:fragment="content">
    <div class="inner-top">작가 신청하기</div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="inner-wrap">
            <form th:action="@{/writer/application/appComplete}" id="form" name="form" method="POST" enctype="multipart/form-data">
              <input type="hidden" id="userSeq" name="userSeq" th:value="${userSeq}" />
              <div class="applyRow clearfix">
                <div class="left">
                  <label for="profile">
                    <img id="profile-image" src="/static/profile/profiledefault.png" />
                    <input type="file" id="profile" name="profile" onchange="validateimg(this)" />
                  </label>
                </div>
                <div class="right">
                  <!-- writer name -->
                  <div class="applyWrap">
                    <div class="apply-title">작가명<span>*</span></div>
                    <div class="apply-input">
                      <input type="text" id="writerName" name="writerName" placeholder="작가명" />
                    </div>
                  </div>
                  <!-- // writer-name -->
                  <!-- writer-intro  -->
                  <div class="applyWrap">
                    <div class="apply-title">소개 한줄<span>*</span></div>
                    <div class="apply-input">
                      <input type="text" id="intro" name="intro" placeholder="내용을 입력해주세요." />
                    </div>
                  </div>
                  <!-- //writer-intro  -->
                  <!-- writer-history -->
                  <div class="applyWrap">
                    <div class="apply-title">작가 이력<span>*</span></div>
                    <div class="apply-input">
                      <input type="text" id="history" name="history" placeholder="내용을 입력해주세요." />
                    </div>
                  </div>
                  <!-- //writer-history -->
                </div>
              </div>
              <div class="applyRow">
                <!-- wrtier-portfolio -->
                <div class="applyWrap portfolio clearfix">
                  <div class="apply-title">포트폴리오<span>*</span></div>
                  <div class="apply-input clearfix">
                    <div class="writingName">파일명</div>
                    <label for="newWriting">
                      파일선택
                      <input type="file" id="newWriting" name="newWriting" accept=".txt" onchange="validatetxt(this)" />
                    </label>
                  </div>
                </div>
                <!-- //wrtier-portfolio -->
                <!-- writer-PR -->
                <div class="applyWrap">
                  <div class="apply-title">PR글 작성<span>*</span></div>
                  <div class="apply-input">
                    <textarea rows="10" cols="50" id="publicRelations" name="publicRelations"></textarea>
                  </div>
                </div>
                <!-- //writer-PR -->
              </div>
              <div class="btnWrap">
                <input class="btn" type="submit" id="submitbtn" value="작가신청하기" />
                <a class="btn goList" href="/myPage">목록으로 돌아가기</a>
              </div>
              <p th:if="${status} == '1'">이미 신청하셨습니다!!</p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
  <th:block layout:fragment="script">
    <script type="application/javascript" th:inline="javascript">
      $(function () {
        var csrfToken = /*[[${_csrf.token}]]*/ null;
        var csrfHeader = /*[[${_csrf.headerName}]]*/ null;
        $(document).ajaxSend(function (e, xhr, options) {
          xhr.setRequestHeader(csrfHeader, csrfToken);
        });
      });
    </script>

    <script type="text/javascript">
      function validateimg(ctrl) {
        var fileUpload = ctrl;
        var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(.jpg|.png|.jpeg)$");
        if (regex.test(fileUpload.value)) {
          if (typeof fileUpload.files != "undefined") {
            var reader = new FileReader();
            reader.readAsDataURL(fileUpload.files[0]);
            reader.onload = function (e) {
              var image = new Image();
              image.src = e.target.result;
              image.onload = function () {
                var height = this.height;
                var width = this.width;
                if (height <= 300 || width <= 300) {
                  swal("", "프로필 사진의 사이즈는 300 x 300px 이상입니다.", "error");
                  return false;
                } else {
                  // swal("good!", "이미지가 정상적으로 업로드 되었습니다.", "success");
                  $("#profile-image").attr("src", e.target.result);
                  return true;
                }
              };
            };
          } else {
            swal("", "이 브라우저는 HTML5를 지원하지 않습니다.", "error");
            return false;
          }
        } else if ($("#profile").val() == "") {
          $("#profile-image").attr("src", "/static/profile/profiledefault.png");
          return false;
        } else {
          $("#profile-image").attr("src", "/static/profile/profiledefault.png");
          swal("", "올바른 파일(jpg/.png/.jpeg)을 선택해주세요.", "error");
          return false;
        }
      }

      function validatetxt(file) {
        if (file.files[0] == null) {
          $(".myPageSub .applyRow .applyWrap.portfolio .apply-input .writingName").removeClass("active").text("파일명");
        } else {
          var FileSize = file.files[0].size / 1024 / 1024; // in MB
          if (FileSize > 2) {
            swal("", "텍스트 파일을 2MB이내로 업로드 해주세요.", "error");
            $("#newWriting").val("");
          } else {
            $(".myPageSub .applyRow .applyWrap.portfolio .apply-input .writingName").addClass("active").text(file.files[0].name);
          }
        }
      }

      $(document).ready(function () {
        $("#submitbtn").click(function (e) {
          e.preventDefault();
          if ("[[${status}]]" == "1") {
            swal("", "이미 신청하셨습니다 !", "error");
            return false;
          }
          if ($("#profile").val().trim() == "") {
            $("#profile").val("");
            $("#profile").focus();
            swal("", "프로필 사진을 업로드 해주세요.", "error");
            return false;
          } else if ($("#writerName").val().trim() == "") {
            $("#writerName").val("");
            $("#writerName").focus();
            swal("", "작가 이름을 작성 해주세요.", "error");
            return false;
          } else if ($("#intro").val().trim() == "") {
            $("#intro").val("");
            $("#intro").focus();
            swal("", "대표 소개 한줄을 작성 해주세요.", "error");
            return false;
          } else if ($("#history").val().trim() == "") {
            $("#history").val("");
            $("#history").focus();
            swal("", "작가 이력을 작성 해주세요.", "error");
            return false;
          } else if ($("#newWriting").val().trim() == "") {
            $("#newWriting").val("");
            $("#newWriting").focus();
            swal("", "소설을 업로드 해주세요.", "error");
            return false;
          } else if ($("#publicRelations").val().trim() == "") {
            $("#publicRelations").val("");
            $("#publicRelations").focus();
            swal("", "PR글을 작성 해주세요.", "error");
            return false;
          } else {
            swal({
              title: "good!",
              text: "작가 신청이 완료되었습니다!",
              type: "success",
            }).then(function () {
              $("#form").submit();
            });
          }
        });
      });
    </script>
  </th:block>
</html>
