<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head th:replace="fragments/config :: configFragment"></head>
<body>

<input type="hidden" id="nickname" th:value="${nickname}"/>
<input type="hidden" id="userSeq" th:value="${userSeq}"/>
<input type="hidden" id="email" th:value="${email}"/>
<input type="hidden" id="writerSeq" th:value="${param.writerSeq}"/> 

<h1>작가 이미지 (임시)</h1>
<img id="profile-image" border="1" src="/static/profile/profiledefault.png"/>
<img id="profile-image" border="1" src="/upload/ca467837-0089-4b4a-815f-0729a2d2debf-test-profile.png"/>

<br>

<h3>작가이름</h3>
<input type="text" id="writerName" th:value="${list.writerName}" readonly="readonly"> 

<br>
 
<h3>작가 이력</h3>

<input type="text" id="history" th:value="${list.history}" readonly="readonly"> 

<br><br>

<h3>작가 소개</h3>
<input type="text" th:value="${list.intro}" readonly="readonly"> 
<br><br>
 
<table border="1">
<tr>
	<th>구독중인 사람의 수</th><th>리뷰 수</th><th>작가가 쓴 글</th>
</tr>
<tr>
	<td th:text="${writerCount}"></td><td>select Review</td><td th:text="${articleCount}"></td>
</tr>


</table> 

<br><br>
 
 <h3>작가 pr</h3>
 <textarea rows="20" cols="40" readonly="readonly"></textarea>
 
 <h3>작가가쓴 글</h3>
 
 <h3>한 줄 리뷰</h3>

<br><br>

<button id="purchase">결제하기</button>

<br><br>

<button onclick="location.href = '/search'">검색으로 돌아가기</button>


<script type="application/javascript" th:inline="javascript">
  $(function () {
    var csrfToken = /*[[${_csrf.token}]]*/ null;
    var csrfHeader = /*[[${_csrf.headerName}]]*/ null;
    $(document).ajaxSend(function (e, xhr, options) {
      xhr.setRequestHeader(csrfHeader, csrfToken);
    });
  });
</script>	

<!--결제 -->
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<script type="text/javascript">


let id=$("#nickname").val();
let userSeq=$("#userSeq").val();
let writerSeq=$("#writerSeq").val();
let email=$("#email").val();

$("#purchase").click(function(){
	IMP.init('imp61961074');
	
	IMP.request_pay({
	    pg : 'imp61961074', // version 1.1.0부터 지원.
	    pay_method : 'card',
	    merchant_uid : 'merchant_' + new Date().getTime(),
	    name : '주문명:종이의집 작가구독서비스 30일',
	    amount : 9900, //판매 가격
	    buyer_email : email,
	    buyer_name : id,
	    buyer_tel : '010-1234-5678'
	}, function(rsp) {
	    if ( rsp.success ) {
	     
	        let data = {
	        	"userSeq":userSeq,
	        	"writerSeq":writerSeq,
	        	"approvalNumber":rsp.apply_num,
	        	"paymentMethod":rsp.pay_method,
	        	"paymentDetail":rsp.paid_amount
	        };
	        $.ajax({
	        	url:"/pay",
	        	type:"post",
	        	contentType: "application/x-www-form-urlencoded; charset=UTF-8",
	        	datatye:'json',
	        	data:data,
	        	async:true,	
	    		success:function( resp ){
	    			
	    			$.ajax({
	    				url:"/sub",
	    				type:"post",
	    				contentType: "application/x-www-form-urlencoded; charset=UTF-8",
	    				datatype:'json',
	    				data:data,
	    				async:true,	
	    				success:function( resp ){
	    					swal("good!","결제가 완료되었습니다!","success")
	    				},
	    				error:function(){
	    					alert('구독error');
	    				}
	    			});
	    		},
	    		error:function(){
	    			alert('결제error');
	    		}
	        });
	    } else {
	        var msg = '결제에 실패하였습니다.';
	        msg += '에러내용 : ' + rsp.error_msg;
	    }
	});
});
</script>

</body>
</html>