@charset "UTF-8";
.clear {
  clear: both;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.row:after,
.row:before {
  content: "";
  display: block;
  clear: both;
}
.container,
.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.row {
  display: block;
  margin-left: -15px;
  margin-right: -15px;
}
.row-hidden {
  display: none;
}
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px;
}
.col-ios5-1,
.col-ios5-10,
.col-ios5-11,
.col-ios5-12,
.col-ios5-2,
.col-ios5-3,
.col-ios5-4,
.col-ios5-5,
.col-ios5-6,
.col-ios5-7,
.col-ios5-8,
.col-ios5-9,
.col-ios5-offset-1,
.col-ios5-offset-10,
.col-ios5-offset-11,
.col-ios5-offset-12,
.col-ios5-offset-2,
.col-ios5-offset-3,
.col-ios5-offset-4,
.col-ios5-offset-5,
.col-ios5-offset-6,
.col-ios5-offset-7,
.col-ios5-offset-8,
.col-ios5-offset-9,
.col-mo-1,
.col-mo-10,
.col-mo-11,
.col-mo-12,
.col-mo-2,
.col-mo-3,
.col-mo-4,
.col-mo-5,
.col-mo-6,
.col-mo-7,
.col-mo-8,
.col-mo-9,
.col-mo-offset-1,
.col-mo-offset-10,
.col-mo-offset-11,
.col-mo-offset-12,
.col-mo-offset-2,
.col-mo-offset-3,
.col-mo-offset-4,
.col-mo-offset-5,
.col-mo-offset-6,
.col-mo-offset-7,
.col-mo-offset-8,
.col-mo-offset-9,
.col-offset-1,
.col-offset-10,
.col-offset-11,
.col-offset-12,
.col-offset-2,
.col-offset-3,
.col-offset-4,
.col-offset-5,
.col-offset-6,
.col-offset-7,
.col-offset-8,
.col-offset-9,
.col-tb-1,
.col-tb-10,
.col-tb-11,
.col-tb-12,
.col-tb-2,
.col-tb-3,
.col-tb-4,
.col-tb-5,
.col-tb-6,
.col-tb-7,
.col-tb-8,
.col-tb-9,
.col-tb-offset-1,
.col-tb-offset-10,
.col-tb-offset-11,
.col-tb-offset-12,
.col-tb-offset-2,
.col-tb-offset-3,
.col-tb-offset-4,
.col-tb-offset-5,
.col-tb-offset-6,
.col-tb-offset-7,
.col-tb-offset-8,
.col-tb-offset-9 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-height: 1px;
}
.col-hidden {
  display: none;
}
.col-1 {
  width: 8.333333%;
}
.col-2 {
  width: 16.666666%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.333333%;
}
.col-5 {
  width: 41.666666%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.333333%;
}
.col-8 {
  width: 66.666666%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.333333%;
}
.col-11 {
  width: 91.666666%;
}
.col-12 {
  width: 100%;
}
.col-offset-1 {
  margin-left: 8.333333%;
}
.col-offset-2 {
  margin-left: 16.666666%;
}
.col-offset-3 {
  margin-left: 25%;
}
.col-offset-4 {
  margin-left: 33.333333%;
}
.col-offset-5 {
  margin-left: 41.666666%;
}
.col-offset-6 {
  margin-left: 50%;
}
.col-offset-7 {
  margin-left: 58.333333%;
}
.col-offset-8 {
  margin-left: 66.666666%;
}
.col-offset-9 {
  margin-left: 75%;
}
.col-offset-10 {
  margin-left: 83.333333%;
}
.col-offset-11 {
  margin-left: 91.666666%;
}
.col-offset-12 {
  margin-left: 100%;
}
@media all and (max-width: 1023px) {
  .col-1,
  .col-10,
  .col-11,
  .col-12,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9 {
    width: 100%;
  }
  .col-offset-1,
  .col-offset-10,
  .col-offset-11,
  .col-offset-12,
  .col-offset-2,
  .col-offset-3,
  .col-offset-4,
  .col-offset-5,
  .col-offset-6,
  .col-offset-7,
  .col-offset-8,
  .col-offset-9 {
    margin-left: 0;
  }
  .col-tb-hidden {
    display: none;
  }
  .col-tb-1 {
    width: 8.333333%;
  }
  .col-tb-2 {
    width: 16.666666%;
  }
  .col-tb-3 {
    width: 25%;
  }
  .col-tb-4 {
    width: 33.333333%;
  }
  .col-tb-5 {
    width: 41.666666%;
  }
  .col-tb-6 {
    width: 50%;
  }
  .col-tb-7 {
    width: 58.333333%;
  }
  .col-tb-8 {
    width: 66.666666%;
  }
  .col-tb-9 {
    width: 75%;
  }
  .col-tb-10 {
    width: 83.333333%;
  }
  .col-tb-11 {
    width: 91.666666%;
  }
  .col-tb-12 {
    width: 100%;
  }
  .col-tb-offset-1 {
    margin-left: 8.333333%;
  }
  .col-tb-offset-2 {
    margin-left: 16.666666%;
  }
  .col-tb-offset-3 {
    margin-left: 25%;
  }
  .col-tb-offset-4 {
    margin-left: 33.333333%;
  }
  .col-tb-offset-5 {
    margin-left: 41.666666%;
  }
  .col-tb-offset-6 {
    margin-left: 50%;
  }
  .col-tb-offset-7 {
    margin-left: 58.333333%;
  }
  .col-tb-offset-8 {
    margin-left: 66.666666%;
  }
  .col-tb-offset-9 {
    margin-left: 75%;
  }
  .col-tb-offset-10 {
    margin-left: 83.333333%;
  }
  .col-tb-offset-11 {
    margin-left: 91.666666%;
  }
  .col-tb-offset-12 {
    margin-left: 100%;
  }
}
@media all and (max-width: 767px) {
  .col-tb-1,
  .col-tb-10,
  .col-tb-11,
  .col-tb-12,
  .col-tb-2,
  .col-tb-3,
  .col-tb-4,
  .col-tb-5,
  .col-tb-6,
  .col-tb-7,
  .col-tb-8,
  .col-tb-9 {
    width: 100%;
  }
  .col-tb-offset-1,
  .col-tb-offset-10,
  .col-tb-offset-11,
  .col-tb-offset-12,
  .col-tb-offset-2,
  .col-tb-offset-3,
  .col-tb-offset-4,
  .col-tb-offset-5,
  .col-tb-offset-6,
  .col-tb-offset-7,
  .col-tb-offset-8,
  .col-tb-offset-9 {
    margin-left: 0;
  }
  .col-mo-hidden {
    display: none;
  }
  .col-mo-1 {
    width: 8.333333%;
  }
  .col-mo-2 {
    width: 16.666666%;
  }
  .col-mo-3 {
    width: 25%;
  }
  .col-mo-4 {
    width: 33.333333%;
  }
  .col-mo-5 {
    width: 41.666666%;
  }
  .col-mo-6 {
    width: 50%;
  }
  .col-mo-7 {
    width: 58.333333%;
  }
  .col-mo-8 {
    width: 66.666666%;
  }
  .col-mo-9 {
    width: 75%;
  }
  .col-mo-10 {
    width: 83.333333%;
  }
  .col-mo-11 {
    width: 91.666666%;
  }
  .col-mo-12 {
    width: 100%;
  }
  .col-mo-offset-1 {
    margin-left: 8.333333%;
  }
  .col-mo-offset-2 {
    margin-left: 16.666666%;
  }
  .col-mo-offset-3 {
    margin-left: 25%;
  }
  .col-mo-offset-4 {
    margin-left: 33.333333%;
  }
  .col-mo-offset-5 {
    margin-left: 41.666666%;
  }
  .col-mo-offset-6 {
    margin-left: 50%;
  }
  .col-mo-offset-7 {
    margin-left: 58.333333%;
  }
  .col-mo-offset-8 {
    margin-left: 66.666666%;
  }
  .col-mo-offset-9 {
    margin-left: 75%;
  }
  .col-mo-offset-10 {
    margin-left: 83.333333%;
  }
  .col-mo-offset-11 {
    margin-left: 91.666666%;
  }
  .col-mo-offset-12 {
    margin-left: 100%;
  }
}
@media all and (max-width: 374px) {
  .col-mo-1,
  .col-mo-10,
  .col-mo-11,
  .col-mo-12,
  .col-mo-2,
  .col-mo-3,
  .col-mo-4,
  .col-mo-5,
  .col-mo-6,
  .col-mo-7,
  .col-mo-8,
  .col-mo-9 {
    width: 100%;
  }
  .col-mo-offset-1,
  .col-mo-offset-10,
  .col-mo-offset-11,
  .col-mo-offset-12,
  .col-mo-offset-2,
  .col-mo-offset-3,
  .col-mo-offset-4,
  .col-mo-offset-5,
  .col-mo-offset-6,
  .col-mo-offset-7,
  .col-mo-offset-8,
  .col-mo-offset-9 {
    margin-left: 0;
  }
  .col-ios5-hidden {
    display: none;
  }
  .col-ios5-1 {
    width: 8.333333%;
  }
  .col-ios5-2 {
    width: 16.666666%;
  }
  .col-ios5-3 {
    width: 25%;
  }
  .col-ios5-4 {
    width: 33.333333%;
  }
  .col-ios5-5 {
    width: 41.666666%;
  }
  .col-ios5-6 {
    width: 50%;
  }
  .col-ios5-7 {
    width: 58.333333%;
  }
  .col-ios5-8 {
    width: 66.666666%;
  }
  .col-ios5-9 {
    width: 75%;
  }
  .col-ios5-10 {
    width: 83.333333%;
  }
  .col-ios5-11 {
    width: 91.666666%;
  }
  .col-ios5-12 {
    width: 100%;
  }
  .col-ios5-offset-1 {
    margin-left: 8.333333%;
  }
  .col-ios5-offset-2 {
    margin-left: 16.666666%;
  }
  .col-ios5-offset-3 {
    margin-left: 25%;
  }
  .col-ios5-offset-4 {
    margin-left: 33.333333%;
  }
  .col-ios5-offset-5 {
    margin-left: 41.666666%;
  }
  .col-ios5-offset-6 {
    margin-left: 50%;
  }
  .col-ios5-offset-7 {
    margin-left: 58.333333%;
  }
  .col-ios5-offset-8 {
    margin-left: 66.666666%;
  }
  .col-ios5-offset-9 {
    margin-left: 75%;
  }
  .col-ios5-offset-10 {
    margin-left: 83.333333%;
  }
  .col-ios5-offset-11 {
    margin-left: 91.666666%;
  }
  .col-ios5-offset-12 {
    margin-left: 100%;
  }
}
@media all and (max-width: 319px) {
  body,
  html {
    display: none;
  }
}
/* animate */
.slideUp {
  animation: slideUp 1000ms forwards;
}
.slideDown {
  animation: slideDown 1000ms forwards;
}
@keyframes slideDown {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* templates */
.btns {
}
.btns .btn {
  font-size: 12px;
  line-height: 16px;
  color: rgb(164, 81, 247);
  border: 1px solid rgb(164, 81, 247);
  padding: 5px 10px;
  border-radius: 25px;
}
.btns .btn.line {
  background-color: transparent;
}
.btns .btn.color {
  background-color: rgb(164, 81, 247);
  color: #ffeb60;
}

/* color */
.purple {
  color: rgb(164, 81, 247);
}

/* writer gird */
.w-grid {
}
.w-grid .thumb {
  width: 100%;
  height: 200px;
  background-color: #000;
}
.w-grid .desc {
  padding-top: 10px;
  color: #333;
  font-size: 16px;
  line-height: 16px;
}
.w-grid .name {
  padding-top: 5px;
  color: #3f3f3f;
  font-size: 14px;
  line-height: 15px;
}

/* slick init */
.slick-track {
  margin-left: 0 !important;
}
