<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <footer th:fragment="footerFragment">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="title">종이의 집</div>
          <ul class="footer-menu clearfix">
            <li><a href="#">고객센터</a></li>
            <li><a href="#">이용약관</a></li>
            <li><a href="#">개인정보처리방침</a></li>
            <li><a href="#">작가신청방법</a></li>
            <li><a href="#">만든이들</a></li>
          </ul>
          <p class="copyright">Copyright © 2020 종이의 집 All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  
</html>
