<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <header class="main-header" th:fragment="headerFragment">
    <div class="mb-bg"></div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="inner-wrap clearix">
            <h1 class="logo">
              <a href="/main">
                <img src="/static/asset/logo-Text-black.png" alt="logo" />
              </a>
            </h1>
            <ul class="header-menu pc-only">
              <li><a href="/main">투데이</a></li>
              <li><a href="/search">검색</a></li>
              <li><a href="/myLibrary">내 서재</a></li>
              <li><a href="/myPage">마이페이지</a></li>
            </ul>
            <div class="utils pc-only">
              <a class="alert" href="#">
                <span class="iconify" data-icon="codicon:bell" data-inline="false"></span>
              </a>
              <a class="logout" onclick="document.getElementById('logout').submit();">로그아웃</a>
            </div>
            <div class="toggle pc-hide">
              <span class="iconify" data-icon="carbon:overflow-menu-horizontal" data-inline="false"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-header-menu clearfix pc-hide">
      <span class="close iconify" data-icon="eva:close-fill" data-inline="false"></span>
      <div class="utils">
        <a class="alert" href="#">
          <span class="iconify" data-icon="codicon:bell" data-inline="false"></span>
        </a>
        <a class="logout" onclick="document.getElementById('logout').submit();">로그아웃</a>
      </div>
      <ul class="header-menu">
        <li><a href="/main">투데이</a></li>
        <li><a href="/search">검색</a></li>
        <li><a href="/myLibrary">내 서재</a></li>
        <li><a href="/myPage">마이페이지</a></li>
      </ul>
    </div>
    <form id="logout" action="/user/logout" method="POST">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
      <input name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}" />
    </form>
  </header>
</html>
